

// Related Products container
.kos__relatedProducts
   margin-bottom: 188px

.kos__relatedProducts__header
   margin-bottom: 32px
   margin-top: 32px

.kos__relatedProducts__subtitle
   color: #828282
   font-family: $font-family;
   font-size: 14px;
   font-weight: 500;
   letter-spacing: 0.2em;
   line-height: 21px;
   text-align: center;

.kos__relatedProduct__title
   color: $kos-blue-btn
   font-family: $font-family;
   font-size: 42px;
   line-height: 62px;
   text-align: center
   


// Cards
.relatedProductCard
   border: 1px solid #E5E5E5;
   box-sizing: content-box;
   display: flex;
   flex-direction: column;
   margin: 8px
   max-height: 488px
   max-width: 284px
   mix-blend-mode: multiply;
   padding: 24px
   img
      margin-bottom: 27px
   p
      font-family: $font-family;
      font-size: 12px;
      line-height: 18px;
      color: #828282
   h1
      color: $kos-blue-btn
      font-family: $font-family;
      font-size: 16px;
      font-weight: bold;
      height: 72px
      line-height: 23px;
      overflow: hidden;
      text-overflow: ellipsis;
      // white-space: ;

   .related-product-card-divider
      border: 1px solid #E5E5E5;

.kos_relatedSprayerCard__divider
   border: 1px solid #E5E5E5;
   margin-top: 10px
   margin-bottom: 10px


.kos__relatedSprayerCard__footer
   height: 30px     
   text-align: center


