.dealers-container
   height: 400px
   .dealers-subtitle
      font-family: Heebo;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.2em;
      color: $about-subtitle
   .dealers-title
      font-family: Heebo;
      font-size: 42px;
      line-height: 62px;
      text-align: center
      color: $about-title1
      margin-bottom: $about-title-margin-bottom


   .dealer-logos
      width: 100%
      display: flex
      justify-content: space-around
