



.story-container 
   height: 600px
   flex-direction: column
   .story-subtitle
      color: $about-subtitle
      font-size: $about-subtitle-size
      font-family: Heebo
      font-style: normal
      font-weight: 500
      font-size: 14px
      line-height: 21px
      letter-spacing: 0.2em
   .story-title
      color: $about-title1
      font-size: $about-title-size
      margin-bottom: $about-title-margin-bottom
      font-family: Heebo
      font-size: 42px
      line-height: 62px
   .story-body
      color: #4F4F4F
      font-size: 16px
      font-family: 'Heebo'
      font-size: 16px
      line-height: 180%
      /* or 29px */
      text-align: center
      white-space: pre-wrap
