.values-container
   height: 434px

   .values-subtitle
      font-family: Heebo
      font-weight: 500
      font-size: $about-subtitle-size
      line-height: 21px
      text-align: center
      letter-spacing: 0.2em
      color: $about-subtitle

   .values-title
      font-family: Heebo
      font-size: $about-title-size
      line-height: 62px
      text-align: center
      margin-bottom: $about-title-margin-bottom
      color: $about-title2

   li
      height: 200px
      display: flex
      flex-direction: column
      justify-content: space-evenly
      align-items: center

      .values-icon
         color: $about-value-icons

      .values-item-title
         font-family: Heebo
         font-weight: 500
         font-size: 16px
         line-height: 23px
         color: $about-title2

      .values-item-description
         width: 250px
         font-family: Heebo
         font-size: 12px
         line-height: 18px
         text-align: center
         color: #828282
         white-space: pre-wrap
