.navbar-gutter {
  padding: 150px 0;
}

.bg-jumbotron {
  background: url('/img/bg-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-circles {
  position: relative;

  .circles {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
  }
}

.footer {
  background: url('/img/bg-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
